body{
    background-color: #427e80;
}

nav{
    height: 70px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header{
    margin-top: 10px;
    height: 500px;
    background-size:cover ;
    background-attachment:fixed ;
    background-image: url(./imagenes/codigo.jpeg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main{
    height: 900px;
    display: grid; 
}

.mainHistoria{
    padding-top: 200px;
    height: 1550px;
    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: repeat(2,100px);
    row-gap: 300px;
    column-gap: 250px;
    justify-content: center;
}

.mainJuguemos{
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

section{
    display: flex;
    flex-direction: column;
    height: 900px;
    align-items: center;
}

footer{
    background-color: #1b1b1b;
    height: 90px;
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
}

/**ANIMACIONES**/
.cuadroAzul{
    animation-name: logoAzul;
    animation-duration: 1s;

}

.cuadroCeleste{
    animation-name: logoCeleste;
    animation-duration: 1.5s;
}

@keyframes logoAzul{
    0%{
        transform: translate(0px,-150px);
        opacity: 0%;
    }

    100%{
        transform: translate(0px,0px)
    }
}

@keyframes logoCeleste{
    0%{
        transform: translate(0px,-200px);
        opacity: 0%;
    }
        
    15%{
        opacity: 15%;

    }

    25%{
        opacity: 25%;
    }

    50%{
        opacity: 50%;

    }
     
    75%{
        opacity: 75%;

    }
    85%{
        opacity: 85%;
        transform: translate(0px,-2px);

    }

    100%{
        transform: translate(0px,0px);
        opacity: 100%;
    }
}


/*****nav*****/
svg{
    width: 200px;
    height: 70px ;  
}

.divBotones{
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.botones{
    color: #154454;
    text-decoration: none;
    background-color:#F0F5E4 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 3px #154454;
    padding: 12px 15px;
}

.botones:active{
    box-shadow: none;
    translate: 4px 4px;
}


/****header****/
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    font-weight:900;
    text-shadow: 4px 3px 0px #000000;
    color: #F0F5E4;
    background-color:#2D2D2D;
}



/*********main************/
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F0F5E4;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px 0px #154454 ;
    text-align: center;
}

.divContenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;

}

.divInicio{
    width: 350px;
    height: 400px;
    background-color: #F0F5E4;
    border: 6px solid #154454;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imgIndex{
    width: 350px;
}

.pDiv{
    text-align: center;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aIndexDiv{
    font-size: 20px;
    background-color: #427e80;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #F0F5E4;
    box-shadow: 2px 3px #154454;
    margin-bottom: 15px;
}

.aIndexDiv:active{
    box-shadow:none;
    translate: 4px 4px;
}
/************main-historia*************/

.bloqueTexto{
    width: 630px;
    height: 300px;
}

.pBlanco{
    color:  #F0F5E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight:800;
    text-shadow: 2px 2px #154454;
    text-align: center;
    width: 650px;
}

.pNegro{
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 18px;

}

.tercerTexto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1400px;
    align-items: center;
}

.pBlancoChico{
    color:  #F0F5E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight:800;
    text-shadow: 2px 2px #154454;
    text-align: center;
    width: 300px;
}

.bloqueTextoLargo{
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 18px;
    width: 1000px;
    justify-self: left;
}

.tituloVideo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F0F5E4;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px 0px #154454 ;
    text-align: center;
}

/***********main-juguemos***********/

.divContenedorJuguemos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divJuguemos{
    background: #818181;
    width: 250px;
    height: 400px;
    border: 2px solid #000000;
}

.juguemosImagenes{
    height: 610px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.imgJuguemos{
    height: 400px;
    width: 250px;
}

.BotonReiniciar{
    color: #154454;
    text-decoration: none;
    background-color:#F0F5E4 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 3px #154454;
    padding: 12px 15px; 
    width: 250px;
}

.BotonReiniciar:active{
    box-shadow: none;
    translate: 4px 4px ;
}

/*********section-historia************/
#divContenedorVideo{
    background-color: #000000;
    height: 664px;
    width: 1062px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

video{
    height: 590px;
}

#divBarraVideo{
    height: 55px;
    width: 1050px;
    background-color: #2D2D2D;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botonesVideo{
    width: 200px;
}

#pVideo{
    color:#F0F5E4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 40px;
}

#botonPlay{
    background-color: #F0F5E4;
    padding: 20px 38px;
    border-radius: 10px;
    box-shadow: 2px 4px #154454;
    margin-left: 4px;
    margin-right: 15px;
}

#botonPlay:active{
    box-shadow:none;
    translate: 4px 4px;
}

#botonPausa{
    background-color: #F0F5E4;
    padding: 19px 38px;
    border-radius: 10px;
    box-shadow: 2px 4px #154454;
}

#botonPausa:active{
    box-shadow:none;
    translate: 4px 4px;
}

/*********footer************/
svg{
    padding-top: 10px;
}

.izqFdiv{
    width: 400px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pF-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#F0F5E4;
    text-align: center;
    width: 125px;
    height: 70px;
    display: flex;
    align-items: center;
    font-weight:bold ;
}

.pF-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#F0F5E4;
    display: flex;
    flex-direction: row;    
    align-items: center;
    margin-right: 50px;
}


